@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
font-family: 'DarkerGrotesque-Regular';
src: url('./assets/fonts/DarkerGrotesque-Regular.ttf');
font-weight: 400;
}

.dg-normal{
font-family: 'DarkerGrotesque-Regular';
font-weight: 400;
}